.edit-breakdown-sidebar {
	width: 20%;
	float: left;
	height: 100%;
/*	border-right: 2px solid orange;
*/}

.breakdown-nav {
	width: 100%;
	height: 55px;
}

.arrow-left {
	width: 15%;
	float: left;
	padding-left: 10px;
	padding-right: 5px;
}

.clip-number {
	float: left;
	text-align: center;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	width: 50%;
}

.arrow-right {
	width: 15%;
	float: left;
	padding-right: 10px;
}

.breakdown-edit {
	width: 100%;
	height: 10%;
	float: left;
}

.breakdown-edit img {
	width: 8%;
	float: center;
}

/*.filter {
	width: 8%;
	float: center;
}

.modify {
	width: 8%;
	float: center;
}*/

.breakdown-header {
	height: 64px;
	width: 100%;
}

h1 {
	height: 43.5px;
	text-align: left;
	background-color: #38434F;
	color: white;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 4.5px;
}

* button {
	border-color: black;
	background-color: white;
}

* select {
	border-color: orange;
	background-color: #E8E8E8;
}

.odk {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#odk-options button {
	width: 30%;
}

.dn {
	width: 100%;
	float: left;
	padding-bottom: 20px;
	text-align: center;
}

#dn-options button {
	width: 22%;
}

.group1 {
	width: 100%;
	float: left;
	text-align: center;
}

.group1 label {
	font-size: 14px;
}

.dist {
	float: left;
	width: 15%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	padding-bottom: 20px;
}

.ydline {
	float: left;
	width: 30%;
	text-align: center;
	padding-bottom: 20px;
}

.hash {
	float: left;
	width: 45%;
	text-align: center;
	padding-bottom: 20px;
}

.group2 {
	width: 100%;
	float: left;
	text-align: center;
}

.group2 label {
	font-size: 14px;
}

.playtype {
	float: left;
	width: 40%;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 10px;
}

.result {
	float: left;
	width: 30%;
	text-align: center;
	padding-right: 4%;
	padding-bottom: 20px;
}

.gnls {
	float: left;
	width: 17%;
	text-align: center;
	padding-bottom: 20px;
	padding-right: 2%;
}

.off-form {
	width: 100%;
	float: left;
	text-align: center;
	padding-bottom: 20px;
}

#off-form-options select {
	width: 75%;
	text-align: center;
} 

.off-play {
	width: 100%;
	float: left;
	text-align: center;
	padding-bottom: 20px;
}

#off-play-options select {
	width: 75%;
	text-align: center;
} 

.group3 {
	width: 100%;
	float: left;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 2px solid #38434F;
}

.group3 label {
	font-size: 14px;
}

.playdir {
	float: left;
	text-align: center;
	width: 35%;
}

.offstr {
	float: left;
	text-align: center;
	width: 45%;

}

.gap {
	float: left;
	text-align: center;
	width: 20%;
	padding-bottom: 20px;
}

.stats-section {
	float: left;
	width: 100%;
	color: #38434F;
	text-align: center;
}

.rusher {
	padding-bottom: 10px;
}

.tackler-1 {
	width: 50%;
	float: left;
/*	padding-bottom: 2%
*/}

.tackler-2 {
	width: 50%;
	float: left;
}

.video {
	border-left: 2px solid orange;
	border-bottom: 2px solid orange;
	border-right: 2px solid orange;
}




